extends layout
block content
 h1= title
 - let items = results;
 - let destination = `dispatch("/hotel/create")`
   button.btn( class="btn-primary ml-1", onclick= destination) Create hotel
   each item in items
    - let destination1 = `dispatch("/hotel/update?id=${item._id}")`
    - let destination2 = `dispatch("/hotel/detail?id=${item._id}")`
    - let destination3 = `dispatch("/hotel/delete?id=${item._id}")`
      div
       p name  - #{item.name}
       p numOfRooms  - #{item.numOfRooms}
       p rate - #{item.rate}
       button.btn( class="btn-primary ml-1", onclick= destination1) Update
       button.btn( class="btn-primary ml-1", onclick= destination2) Detail
       button.btn( class="btn-primary ml-1", onclick= destination3) Delete
       br
       br
 script.
  function dispatch(path){
   window.location.href=path
  }