extends layout
block content
  h1= title
  - let hotelid = toShow._id
  - let name = toShow.name
  - let numOfRooms = toShow.numOfRooms
  - let rate  = toShow.rate
    div
      div.row
        div(class='hotelAttr mr-3') hotel  ID:
        div #{hotelid}
      div.row
        div(class='hotelAttr mr-3') name:
        div #{name}
      div.row
        div(class='hotelAttr mr-3') numOfRooms:
        div #{numOfRooms}
      div.row
        div(class='hotelAttr mr-3') rate:
        div #{rate}