extends layout

block content
  h1= title
  - 
    var users = [
          { "name": 'XYZ', "numOfRooms": 1, "rate":400 },
          { "name": 'ABC', "numOfRooms": 2, "rate":500 },
          { "name": 'PQR', "numOfRooms": 3, "rate":600 }
        ]
  
  div(class="container-fluid")
    div(class="row")  
      each user in users
        div(class="col-sm-2")
          p Name: #{user.name}, Number of rooms: #{user.numOfRooms}, Rate:#{user.rate}


  each result, index in users
    div(onclick=`buy(${index})`) Click to Purchase:  #{index} #{result.name}

  script.
    function buy(index) {
      alert(`You purchased item ${index}`);
      }



  
    
    
            